﻿<!DOCTYPE HTML>

<html>
<head>
	@await Html.PartialAsync("MetatagsPartial")
	@await Html.PartialAsync("CssPartial")
</head>
<body class="is-preload">
	@await Html.PartialAsync("HeaderPartial")
	<div id="main">
		@RenderBody()
	</div>
	@await Html.PartialAsync("FooterPartial")
	@await Html.PartialAsync("ScriptsPartial")
</body>
</html>