﻿<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><a href="https://vk.com/vladimirvechkanov" target="_blank"><i class="fa fa-vk fa-2x"></i></a></li>
            <li><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><a href="https://www.instagram.com/vladimirvechkanov.1/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><a href="https://github.com/wowa683?tab=repositories" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
            <li><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><a class="slow_bottom" href="#bottom"><i class="fa fa-phone-square fa-2x"></i></a></li>
            <li><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><a href="mailto:wowa.98@mail.ru"><i class="fa fa-envelope fa-2x"></i></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Vladimir Vechkanov. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>