﻿<header id="header">
    <div class="inner">
        <a href="/" class="image avatar"><img src="~/images/IMG_7914.JPG" alt="" /></a>
        <h1>
            Здравствуйте!<br />
            Меня зовут <strong>Владимир</strong>,<br />
            я <strong>Full-Stack Developer.</strong><br />
            Готов решать сложные задачи.

        </h1>
    </div>
</header>